<div class="row">
          <div class="col-xs-2 col-sm-2 col-md-2">
            
            <table class="table games-table" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Jornada 1 Stadium: Estadio Cibao FC City: Santiago  Cibao FC vs Atlético Vega Real">
              <thead>
                <tr class="stadium-game-card hidden-xs">
                  <td>Estadio Cibao FC</td>
                  <td>90'</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Vega Real</td>
                  <td>2</td>
                </tr>
                <tr>
                  <td>Cibao FC</td>
                  <td>2</td>
                </tr>
              </tbody>
            </table>
            
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2">
            
            <table class="table games-table" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Jornada 1 Stadium: Estadio Cibao FC City: Santiago  Cibao FC vs Atlético Vega Real">
              <thead>
                <tr class="stadium-game-card hidden-xs">
                  <td>Estadio Cibao FC</td>
                  <td>48'</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Pantoja</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>Cibao FC</td>
                  <td>1</td>
                </tr>
              </tbody>
            </table>
            
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2">
            
            <table class="table games-table" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Jornada 1 Stadium: Estadio Cibao FC City: Santiago  Cibao FC vs Atlético Vega Real">
              <thead>
                <tr class="stadium-game-card hidden-xs">
                  <td>Estadio Cibao FC</td>
                  <td>90'</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Vega Real</td>
                  <td>2</td>
                </tr>
                <tr>
                  <td>Cibao FC</td>
                  <td>2</td>
                </tr>
              </tbody>
            </table>
            
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2">
            
            <table class="table games-table" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Jornada 1 Stadium: Estadio Cibao FC City: Santiago  Cibao FC vs Atlético Vega Real">
              <thead>
                <tr class="stadium-game-card hidden-xs">
                  <td>Estadio Cibao FC</td>
                  <td>48'</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Pantoja</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>Cibao FC</td>
                  <td>1</td>
                </tr>
              </tbody>
            </table>
            
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2">
            
            <table class="table games-table" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Jornada 1 Stadium: Estadio Cibao FC City: Santiago  Cibao FC vs Atlético Vega Real">
              <thead>
                <tr class="stadium-game-card hidden-xs">
                  <td>Estadio Cibao FC</td>
                  <td>90'</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Vega Real</td>
                  <td>2</td>
                </tr>
                <tr>
                  <td>Cibao FC</td>
                  <td>2</td>
                </tr>
              </tbody>
            </table>
            
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2">
            
            <table class="table games-table" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Jornada 1 Stadium: Estadio Cibao FC City: Santiago  Cibao FC vs Atlético Vega Real">
              <thead>
                <tr class="stadium-game-card hidden-xs">
                  <td>Estadio Cibao FC</td>
                  <td>48'</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Pantoja</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>Cibao FC</td>
                  <td>1</td>
                </tr>
              </tbody>
            </table>
            
          </div>
          
    </div>
